#This is the file to provide the details of libraries used and their versions
pandas==3.0.5
numpy==2.5.3
scikit-learn==1.9.0
flask==3.1.3
flask-cors==6.0.5
flask-sqlalchemy==3.1.1
werkzeug==3.1.8
flask-jwt-extended==4.7.4